[class^="container"]{
  background-color: rgba(212, 0, 250, 0.3);
  border: 1px solid black;
}

.col-lg-4, .col-12{
border: 1px solid black;
background-color: rgb(215, 250, 238);
}

header{
  height: 80px;
}

ul li{
  list-style: none;
  text-decoration: none;
}

ul{
  margin: 0px !important;
}

.jumbotron{
  height: 500px;
  width: 100%;
}

.margin-top{
  margin-top: 550px;
  height: 300px;
}